/* Apply styles to all elements, setting a default font and box-sizing */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
/* Styling for the body of the document */
body {
  background: #333;
  color: rgb(204, 238, 255);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  overflow-y: hidden;
}

/* Styles for the form used to add new items */
.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Styles for a row within a form */
.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Styles for input elements within the new item form */
.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
  height: 2.6rem;
  font-size: 1.2rem;
}
/* Styles for a generic button */
.btn {
  background: rgba(0, 170, 255, 0.1);
  border: 1px solid rgb(0, 170, 255);
  color: rgb(0, 170, 255);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}
.add-btn {
  font-size: 1.3rem;
}

.category-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  gap: 2rem;
  overflow-x: scroll;
}

.btn-category {
  padding: 0.4rem;
  width: min-content;
  min-width: 6rem;
  font-size: medium;
  color: rgb(204, 238, 255);
}

.btn-category.active,
.btn:hover {
  background-color: hsl(200, 100%, 30%);
}

/* Styles for a danger-themed button */
.btn.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
  font-size: medium;
}

/* Styles for a header element */
.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Styles for the overall structure of the list */
.list {
  /* margin: 0; */
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 23rem;
}

/* Styles for individual list items */
.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #545151;
  border-radius: 0.5rem;
  padding: 0.4rem;
  padding-left: 1rem;
  cursor: pointer;
}

.list li:hover {
  background-color: rgb(124, 115, 115);
}
.list li.completed {
  background-color: aqua;
}
