.container {
  margin-top: 3rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.btn {
  height: 2rem;
  background: rgba(0, 170, 255, 0.1);
  border: 1px solid rgb(0, 170, 255);
  color: rgb(0, 170, 255);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
  font-size: medium;
}

.btn-category {
  padding: 0.4rem;
  width: min-content;
  min-width: 6rem;
  font-size: medium;
  color: rgb(204, 238, 255);
}

.btn-category.active,
.btn:hover {
  background-color: hsl(200, 100%, 30%);
}

.btn-danger:hover {
  background-color: hsl(0, 100%, 40%, 0.2);
}

.btn-delete-category {
  width: 100%;
}
.btn-add {
  height: 3rem;
  font-size: larger;
}
input {
  max-width: 380px;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
  height: 1.5rem;
  font-size: 1.2rem;
}

.new-item-form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.category-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  gap: 2rem;
  overflow-x: scroll;
}

.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 20rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #545151;
  border-radius: 0.5rem;
  padding: 0.4rem;
  padding-left: 1rem;
  cursor: pointer;
}

li:hover {
  background-color: rgb(124, 115, 115);
}

li.completed {
  color: hsl(200, 100%, 40%);
}

.title {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.title.completed::before {
  content: "✔";
  background: hsl(200, 100%, 40%);
  color: hsl(200, 100%, 90%);
  font-size: 0.75rem;
  font-weight: bold;
}

.title::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.new-category-form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.new-category-form > div input {
  width: 100%;
  height: 2rem;
}
