body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #333;
  color: rgb(204, 238, 255);
  /* width: 400px; */
  /* margin: 3rem auto; */
  display: flex;
  justify-content: space-around;
}

::-webkit-scrollbar {
  visibility: hidden;
  height: 0;
  width: 0;
}
