body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #333;
  color: rgb(204, 238, 255);
  width: 400px;
  height: 80vh;
  margin: 3rem auto;
  overflow-y: hidden;
  overflow-y: scroll;
}
